@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

body {
  background-color: #012229;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* ou a altura desejada */
  flex-direction: column;
}

.container p {
  text-align: center;
  color: white;
  font-weight: 900;
  font-size: 25px;
  width: 1200px;
}

.barra {
  height: 2px;
  background-color: #fff;
  width: 1200px;
  margin: 20px;
}

a {
  color: rgba(255, 255, 255, 0.836);
}

.back{
    font-weight: 900;
}

@media (max-width: 930px){
  p{
    max-width: 410px;
  }
}